body {
    background-color: #222423;
    height: 100vh;
    color: #fff;
}

.sidebar {
    background-image: linear-gradient(to left, #242726, #242726);
    border: 3px solid;
    border-image: linear-gradient(to right, #242726, #242726);
    border-image-slice: 1;

}

.header-box {
    border: 1px solid;
    border-image: linear-gradient(to left, #78797950, #242726);
    border-image-slice: 1;
    background-image: linear-gradient(to right, #242726, #7978781a)
}

.box {
    background-image: linear-gradient(to left, #242726, #7978781a)
}

.list-date .item-box {
    border: 1px solid;
    border-image: linear-gradient(to right, #78797950, #242726);
    border-image-slice: 1;
    background-image: linear-gradient(to right, #7978781a, #242726);

}

.list-date .item-box:nth-child(even) {
    border: 1px solid;
    border-image: linear-gradient(to left, #78797950, #242726);
    border-image-slice: 1;
    background-image: linear-gradient(to left, #7978781a, #242726);

}

svg {
    width: 50px;
}

.sidebar .active {
    background-color: #00a693;
    color: white;
}

.sidebar .active svg {
    fill: white !important;
}

.sidebar svg {
    fill: #555555;
}